body{
    background-image: url(Crazy_Frog.jpg);
    background-size:1440px ;
}
.in{
    background-color: aquamarine;
    border: none;
    padding: 15px 30px;
    border-radius: 70%;
}
.add{
    padding: 15px 30px;
    background-color: blue;
    border: none;
    color: white;
    border-radius: 70%;
}
.div1{
    padding: 200px 0 0 500px;
}
.list{
    color:aqua ;
}
.del{
    background-color: red;
    border-color: blue;
    color: chartreuse;
}
.red{
    margin-left: 15px;
    background-color:darkorange;
    color: fuchsia;
    border: none;
}
.check:checked{
    accent-color: hotpink;
    background-color: gold;
    background-color: #4caf50;
    border-color: #4caf50
}
